body {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.header, .footer {
    display:flex;
    flex-direction:column;
    background-color: #1F2937;
}
.header {
    padding-left: 5%;
    padding-right: 5%;
}
.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    gap: 12px;
}

.head-links {
    display: flex;
    gap: 20px;
    font-weight: lighter;
}

.title {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;
    gap: 25px;
    min-height: 300px
}

.welcome {
    width: 80%;
}

.welcome > .awesome {
    font-size: 36px;
    font-weight:bold;
    color: #F9FAF8;
    margin: 0 0 15px 0;
}

.welcome > .subtext {
    font-weight: lighter;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 15px 0;
    flex-wrap: wrap;
}

.welcome > button {
    background-color: #3882F6;
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-style: none;
}
.head-image > img {
    border-radius: 20px;
    min-width: 80%;
    width: 100%
}

.head-image {
    display: flex;
    justify-content: end;
    align-self: center;
    flex: 2 1 auto;
}

.item-img > img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 20px;
    border: solid #3882F6 3px;
}

.info {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    min-height: 450px;
    gap: 12px;
    box-sizing: border-box;

}

.info-content {
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    gap:5%;
}

.item1,
.item2,
.item3,
.item4 {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
}

.item-text {
    text-align: center;
    font-size: 18px;
    color: #8e8e8e; 
    flex-wrap: wrap
}

.info-title {
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
    margin:0;
    padding:0;
}